h1{
    border: red 2px solid;
    /* margin: 20px; */
    /* margin-bottom: 100px; */
    margin: 10px 30px 50px 70px;
    /* margin: 10px 100px 200px; */
}
p{
    border: blue 2px solid;
    padding-top: 100px;
    background-color: lawngreen;
}

article{
    border: green solid 2px;
    padding: 0px;
}

a{
    border: solid 2px red;
    padding: 50px;
    margin: 20px;
    /* display: block; */
}